:root {
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --danger: #dc2626; /* ok */
  --danger-hover: #b91c1c;
  --background: #f9fafb;
  --card: #ffffff;
  --card-li: #f4f5f6;
  --text-primary: #111827;
  --text-secondary: #272729;
}

body {
  font-family: "Inter", sans-serif;
  padding: 20px;
  background: var(--background);
  color: var(--text-primary);
}

#page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
}

h1,
h2 {
  color: var(--text-primary);
}

#create-user,
#back-to-users,
#create-task {
  margin-block: 10px;

  button {
    background: var(--primary);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
    font-size: 18px;
  }

  button:hover {
    background: var(--primary-hover);
    transform: scale(1.01);
    transition: 0.2s ease, transform 0.2s ease;
  }
}

h2 {
  width: 650px;
  text-align: left;
  margin-top: 30px;
}

form {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 25px;
}

input,
select,
button {
  display: block;
  width: 400px;
  margin-bottom: 10px;
  padding: 10px;
}

.button-user,
.button-task {
  background: var(--primary);
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.button-user:hover,
.button-task:hover {
  background: var(--primary-hover);
  transform: scale(1.01);
  transition: 0.2s ease, transform 0.2s ease;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: var(--card-li);
  margin-bottom: 20px;
  padding: 16px 10px;
  border-radius: 6px;
  width: 650px;

  button {
    width: 600px;
  }

  p {
    margin: 0;
    width: 600px;
    font-size: 16px;
    color: var(--text-secondary);
  }

  strong {
    margin: 0;
    width: 600px;
    font-size: 18px;
    color: var(--text-primary);
  }
}

.user-actions,
.task-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-danger {
  background: var(--danger);
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.button-danger:hover {
  background: var(--danger-hover);
  transform: scale(1.01);
  transition: 0.2s ease, transform 0.2s ease;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.hidden {
  display: none !important;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 70%;
  max-width: 500px;
  background-color: var(--card);
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  position: relative;
  pointer-events: all;
  max-height: 90vh;
  animation: modal 0.2s ease-out;

  h2 {
    text-align: center;
    margin-bottom: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      align-self: flex-start;
      color: var(--text-primary);
    }
  }
}

.button-group {
  margin-top: 15px;
}

.disabled_scroll {
  pointer-events: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

@keyframes modal {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
