body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f5f5f5;
}

#page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
}

h1,
h2 {
  color: #333;
}

#create-user,
#back-to-users,
#create-task {
  margin-block: 10px;

  button {
    background: #4a88f3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
    font-size: 18px;
  }

  button:hover {
    background: #2737ed;
  }
}

h2 {
  width: 650px;
  text-align: left;
  margin-top: 30px;
}

form {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

input,
select,
button {
  display: block;
  width: 400px;
  margin-bottom: 10px;
  padding: 10px;
}

.button-user,
.button-task {
  background: #4a88f3;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.button-user:hover {
  background: #2737ed;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #fff;
  margin-bottom: 15px;
  padding: 16px 10px;
  border-radius: 6px;
  width: 650px;

  button {
    width: 600px;
  }

  strong {
    margin: 0;
    width: 600px;
    font-size: 18px;
  }
}

.user-actions,
.task-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Esconder modal */
.hidden {
  display: none !important;
}

/* Caixa central */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 70%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  position: relative;
  pointer-events: all;
  max-height: 90vh;

  h2 {
    text-align: center;
    margin-bottom: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      align-self: flex-start;
    }
  }
}

.button-group {
  margin-top: 15px;
}

.disabled_scroll {
  pointer-events: none; /* bloqueia cliques */
  user-select: none;
}

a {
  text-decoration: none;
}
